html, body {
    font-family: 'Baskerville';
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 1rem;
}

.nav-bar li {
    display: inline-block;
    position: relative;
    top: -2rem;
}

h1 {
    text-align: center;
    position: relative;
    top: 1.7rem;
    font-size: 2rem;
    margin: 0;
}

.cart-btn {
    background-color: black;
    color: white;
}

.cart-btn:hover {
    background-color: white;
    color: black;
}

.nav-btn {
    max-width: 1rem;
    width: 1rem;
    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
    text-decoration: none;
}

.menu-icon {
    height: 1rem;
    position: relative;
    top: -0.3rem;
    margin-right: 0.2rem;
    margin-left: 1rem;
}

.games {
    color: gray
}

.menu-section {
    display: inline-block;
}

.hero {
    width: 80rem;
    position: absolute;
    top: 5rem;
    left: 30%;
    transform: rotate(27deg);
    z-index: 1;
    opacity: 50%;
}

.hero-text {
    position: absolute;
    left: 10%;
    top: 20%;
    font-size: 6rem;
    width: 50%;
    text-wrap: wrap;
    z-index: 2;
    font-weight: 300;
}

.content {
    margin-top: 35rem;
}

.image-1 {
    overflow: hidden;
    position: absolute;
    width: 28rem;
    height: 40rem;
    object-fit: cover;
    object-position: 60% 0;
    margin: 2rem;
    border-radius: 2rem;
}

.image-2 {
    width: 60rem;
    height: 25rem;
    position: relative;
    left: 40%;
    bottom: -25rem;
    border-radius: 2rem;
}

#pullout-menu {
    display: none;
    position: fixed;
    z-index: 3;
    width: 20rem;
    height: 100%;
    background-color: white;
    padding-top: 1rem;

}

#pullout-menu-header {
    background-color: white;
    padding-bottom: 1rem;
}

#pullout-menu-content {
    background-color: #D9D9D9;
    height: 100%;
}

.menu-item {
    padding: 0.5rem 0rem;
    border: 1px solid black;
}

#selector {
    position: absolute;
    top: -9.5rem;
}

.game-list-header {
    border-bottom: 1px solid gray;
    margin: 0 5rem;
    margin-top: 5rem;
}

.game-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 5rem;
    margin-top: 1rem;
}

.game-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    position: relative;
    border: 1px solid #E6E6E6;
    background-color:#FAFAF5;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 1.4rem;
}

.game-item img {
    margin: 4rem 2rem;
}

.game-item-content {
    text-align: left;
    margin: 0.8rem;
}

.game-item-name {
    font-weight: 900;
}

.game-item-price {
    color: green;
}

.game-item-desc {
    margin-top: 0.8rem;
}





:root {
    --duration: 8s;
    --duration-double: 16s;
  }
  
  .container {
    margin: 30rem 0;
    width: 100%;
    background: #111;
    font-family: 'Nova Cut';
  }
  
  .first-slide {
    font-size: 100px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
  }
  
  .first-slide span {
    display: inline-block;
    animation-name: slide-then-hide;
    animation-duration: var(--duration);
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  .words {
    font-size: 100px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
  }
  
  .words span {
    display: inline-block;
    padding-left: 100%;
    animation-name: slide;
    animation-duration: var(--duration-double);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .words--second span {
    animation-delay: var(--duration);
  }
  
  @keyframes slide-then-hide {
    0% {
      transform: translate(0, 0);
    }
    100% {
      display: none;
      transform: translate(-100%, 0);
    }
  }
  
  @keyframes slide {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

.about-container {
    margin: 45rem 0;
    display: flex;
}

.about-div {
    width: 50%;
    height: 20rem;
}

.about-header {
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-verence {
    font-size: 6rem;
    text-align: center;
    font-family: 'Nova Cut';
    color: #A9A9A9;
    background-color: #D8D8D8;
}

.about-content {
    background-color: #5551FF;
    color: white;
    margin: auto;
}

.about-div-header {
    font-family: 'Nova Cut';
}